<h3 style="color:grey">Created tinyurls</h3>
<% @urls.reverse.each do |url| %>
 <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header " style="color:white;background-color:#00AF5F"><b style="color:black">Tiny URL :</b><b> <%= url.tiny_url %></b></div>
      <div class="collapsible-body"><p><b style="color:black">User URL : </b><%= url.user_url %></p></div>
    </li>
</ul>
<% end %>
