<style type="text/css">
.game-grid{
	border: 1px solid red;
	margin: 1%;
	height: 70px;
	width: 70px;
	float: left;
	text-align: center;
	vertical-align: middle;
	text-align: center;
}
.no-border{
	border: none;
}
</style>
<div class="row">
<div class="col s6">
	<div class="row">
	  <div class="game-grid" id="00">1</div>
	  <div class="game-grid" id="01">2</div>
	  <div class="game-grid" id="02" >3</div>
	  <div class="game-grid" id="03" >4</div>
	</div>
	<div class="row">
	  <div class="game-grid" id="04" >1</div>
	  <div class="game-grid" id="05" >2</div>
	  <div class="game-grid" id="06" >3</div>
	  <div class="game-grid" id="07" >4</div>
	</div>
	<div class="row">
	  <div class="game-grid" id="08" >1</div>
	  <div class="game-grid" id="09" >2</div>
	  <div class="game-grid" id="10" >3</div>
	  <div class="game-grid" id="11" >4</div>
	</div>
	<div class="row">
	  <div class="game-grid" id="12" >1</div>
	  <div class="game-grid" id="13" >2</div>
	  <div class="game-grid" id="14" >3</div>
	  <div class="game-grid" id="15" >4</div>
	</div>
</div>
<div class="col s6" style="color:white">
	<div class="row">
	  <div class="game-grid no-border"></div>
	  <div class="game-grid no-border"></div>
	  <div class="game-grid no-border"></div>
	  <div class="game-grid no-border"></div>
	</div>
	<div class="row">
	  <div class="game-grid no-border"></div>
	  <div class="game-grid teal">^</div>
	  <div class="game-grid no-border"></div>
	  <div class="game-grid no-border"></div>
	</div>
	<div class="row">
	  <div class="game-grid teal"><</div>
	  <div class="game-grid no-border"></div>
	  <div class="game-grid teal">></div>
	  <div class="game-grid no-border"></div>
	</div>
	<div class="row">
	  <div class="game-grid no-border"></div>
	  <div class="game-grid teal">v</div>
	  <div class="game-grid no-border"></div>
	  <div class="game-grid no-border"></div>
	</div>
</div>
</div>
<center><a class="waves-effect waves-light btn-large">Start a new game</a></center>
