<style type="text/css">
.game-grid{
	border: 1px solid red;
	margin: 1%;
	height: 70px;
	width: 70px;
	float: left;
	text-align: center;
	vertical-align: middle;
	text-align: center;
	line-height: 70px;
}
.no-border{
	border: none;
}
.grid{

}
.game-grid span{
	padding: 30%;
}
</style>
<div class="row">
<div class="col s6">
	<div class="row">
	  <div class="game-grid" id="00"></div>
	  <div class="game-grid" id="01"></div>
	  <div class="game-grid" id="02" ></div>
	  <div class="game-grid" id="03" ></div>
	</div>
	<br>
	<div class="row">
	  <div class="game-grid" id="10" ></div>
	  <div class="game-grid" id="11" ></div>
	  <div class="game-grid" id="12" ></div>
	  <div class="game-grid" id="13" ></div>
	</div>
	<div class="row">
	  <div class="game-grid" id="20" ></div>
	  <div class="game-grid" id="21" ></div>
	  <div class="game-grid" id="22" ></div>
	  <div class="game-grid" id="23" ></div>
	</div>
	<div class="row">
	  <div class="game-grid" id="30" ></div>
	  <div class="game-grid" id="31" ></div>
	  <div class="game-grid" id="32" ></div>
	  <div class="game-grid" id="33" ></div>
	</div>
</div>
<div class="col s6" style="color:white">
	<div class="row">
	  <div class="game-grid no-border"></div>
	  <div class="game-grid no-border"></div>
	  <div class="game-grid no-border"></div>
	  <div class="game-grid no-border"></div>
	</div>
	<div class="row">
	  <div class="game-grid no-border"></div>
	  <div class="game-grid btn_click" id="upmove">^</div>
	  <div class="game-grid no-border"></div>
	  <div class="game-grid no-border"></div>
	</div>
	<div class="row">
	  <div class="game-grid btn_click" id="leftmove"><</div>
	  <div class="game-grid no-border"></div>
	  <div class="game-grid btn_click" id="rightmove">></div>
	  <div class="game-grid no-border"></div>
	</div>
	<div class="row">
	  <div class="game-grid no-border"></div>
	  <div class="game-grid btn_click" id="downmove">v</div>
	  <div class="game-grid no-border"></div>
	  <div class="game-grid no-border"></div>
	</div>
</div>
</div>
<center><a class="waves-effect waves-light btn-large">Start a new game</a></center>
<script type="text/javascript">
 $( document ).ready(function() {
        var game = new Array(4);
        arrayinit();
		// array initialize here (start)
		function arrayinit()
		{
			var counter = 0;
			for( var i=0;i<4;i++)
			{
				game[i] = new Array(4);
				for(var j=0;j<4;j++)
				{
					game[i][j] = '';
					
				}
			}
			randomappend()
			
		}
		// array initialize here (end)

		// function for randome text generation (start)
		function randomappend()
		{
			var array = [2,4,2,4,2,2,];
			var data_set = 0;
			for(var i=0;i<4;i++)
			{
				for(var j=0;j<4;j++)
				{
					if(!data_set)
					{
						data_set = 1;
						if(game[i][j] == '')
						{
							game[i][j] = array[Math.floor(Math.random()*array.length)];
							$('#'+i+j).html("<span style='background-color:red'>"+ game[i][j]+"</span>")
							
						}
						
					}
				}
			}
			dataappending()
		}
		// function for randome text generation (end)

		function dataappending()
		{
			var array = [];
			for(var i=0;i<4;i++)
			{
				for(var j=0;j<4;j++)
				{
					if(game[i][j] == '')
					{
						array.push(i + '-' + j);
					}	
				}
			}
			var str = array[Math.floor(Math.random()*array.length)]
			var res = str.split("-");
			var i =res[0];
			var j =res[1];
			game[i][j] = 2;
			$('#'+i+j).html("<span style='background-color:red'>"+ game[i][j]+"</span>");

		}

	});
</script>